@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    @*Contains header with name*@
    <h1 class="display-4">The Joel Hilton Film Collection </h1>
    <p >Welcome</p>

    @*Contains photo*@
    <img src="~/img/HiltonMission6.jpg" />
</div>
